<%- include('../includes/head.ejs')  %>

    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs')  %>


    <main>
      <% if(prods.length > 0) { %>
      <div class="grid">
        <% for( let product of prods) {%>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img
              src="/<%= product.imageUrl %>"
              alt="<%= product.title %>"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%= product.price %></h2>
            <p class="product__description">
              <%= product.description %>
            </p>
          </div>
          <div class="card__actions">
            <a href="/products/<%= product._id %>" class="btn">Details</a>
            
            <%- include('../includes/add-to-cart.ejs', {product: product})  %>

          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No Products!!</h1>
      <% } %>
    </main>
<%- include('../includes/end.ejs')  %>
<!-- src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" -->
<!-- https://media.istockphoto.com/photos/fresh-homemade-pizza-margherita-picture-id1278998606?s=612x612 -->
<!-- https://images.unsplash.com/photo-1588315029754-2dd089d39a1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80 -->
<!-- https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 -->
<!-- https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 -->